<ion-app>
    <ion-menu>
        <ion-header translucent>
            <ion-toolbar color="dark">
                <ion-title>Chat Themes</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content fullscreen="true">
            <div class="content">
                <ion-list lines="none" class="transparent">
                    <ion-list-header class="transparent">
                        <ion-label color="light">Chat List</ion-label>
                    </ion-list-header>
                    <div class="scrollContent transparent list-bottom-shadow">
                        <ion-menu-toggle auto-hide="false">
                            <ion-item class="transparent" *ngFor="let p of ChatLists">
                                <ion-icon name="list" color="light" slot="start"></ion-icon>
                                <ion-label (click)="pageRedirect(p)" color="light">{{p.title}}</ion-label>
                                <ion-note *ngIf="p.type=='free'" color="light" class="notes">FREE</ion-note>
                            </ion-item>
                        </ion-menu-toggle>
                    </div>
                </ion-list>


                <ion-list lines="none" class="transparent">
                    <ion-list-header class="transparent">
                        <ion-label color="light">Chat Screens</ion-label>
                    </ion-list-header>
                    <div class="scrollContent transparent list-bottom-shadow">
                        <ion-menu-toggle auto-hide="false">
                            <ion-item class="transparent" *ngFor="let p of ChatScreens">
                                <ion-icon name="chatboxes" color="light" slot="start"></ion-icon>
                                <ion-label (click)="pageRedirect(p)" color="light">{{p.title}}</ion-label>
                                <ion-note *ngIf="p.type=='free'" color="light" class="notes">FREE</ion-note>
                            </ion-item>
                        </ion-menu-toggle>
                    </div>
                </ion-list>

                <ion-list id="inbox-list" lines="none" class="transparent">
                    <ion-list-header>Inbox</ion-list-header>
                    <ion-note>hi@ionicframework.com</ion-note>

                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
                <ion-list id="labels-list" lines="none" class="transparent">
                    <ion-list-header>Labels</ion-list-header>

                    <ion-item *ngFor="let label of labels" lines="none">
                        <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
                        <ion-label>{{ label }}</ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
